# 数据集
data/
dataset/
datasets/

# 模型参数
*.pt
*.pth
*.ckpt
checkpoints/

# 模型运行结果
runs/
outputs/
logs/

# Python缓存
__pycache__/
*.pyc

# VS Code本机配置
.vscode/

# API密钥
.env

# 测试图片
test_image.jpg
test_image.png